.passwordItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    margin-bottom: 10px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    overflow-x: auto; /* or overflow-x: hidden; */
}
.inputGroup label {
    /*font-weight: bold;*/
    margin-bottom: 5px;
}

.inputGroup input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 20px); /* Adjust width to leave space for padding and borders */
}

.inputGroup input:focus {
    outline: none;
    border-color: #007bff; /* Change border color when input is focused */
}

.submitButton {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
